// Dark theme colrors
$bgPrimary: #202124;
$bgSecondary: #292a2d;
$bgSecLight: #303135;
$textPrimary: #bdbdbd;
$textSecondary: #757575;

$shadow: #1c1d1f;
$green: #4caf50;

// Fiverr
$fGreen: #1dbf73;
