header {
   background-color: #292a2d !important;
}
.gb_Ue,
.a-s-tb-sc-Ja-Q.a-s-tb-sc-Ja-Q-pa.a-s-tb-Kg-Q.a-s-tb-kl-Gd-Kf {
   background: #202124 !important;
   border: none !important;
}
.gb_ff {
   color: #bdbdbd !important;
}
.gb_ff::placeholder {
   color: #757575 !important;
}
.a-da-Mf-B {
   background-color: #292a2d !important;
}
.s55KNe .jGNTYb {
   color: #bdbdbd !important;
   background-color: #292a2d !important;
   border: none !important;
   box-shadow: 1px 2px 3px #1c1d1f !important;
}
.a-s-tb-cj {
   width: 0 !important;
}
.a-D-B-x {
   background-color: #292a2d !important;
}
.a-s-Ba-Ak {
   border-bottom: none !important;
   background-color: #202124 !important;
}
.Y9nbBe.i6Fqyc.d80j0c {
   padding: 0 2rem !important;
}
