/* Header */
#hdtbSum,
.sfbg.nojsv,
.mdFQt.WH6xid.Dgj8Pb {
	background: #292a2d !important;
}
#hdtb {
	border-bottom: none !important;
}
.RNNXgb {
	background-color: #202124 !important;
	border: none !important;
}
.gLFyf {
	color: #b2dfdb !important;
}

/* Appbar */
#appbar {
	background-color: #202124 !important;
}

#aiod-google {
	a:visited {
		color: #4caf50 !important;
	}
	a:link,
	.q:active,
	.q:visited {
		color: #009688 !important;
	}
}

.JolIg,
.VLkRKc,
.Ss2Faf {
	color: #757575 !important;
}

g-inner-card,
.knowledge-panel {
	background: #292a2d !important;
	border: none !important;
	box-shadow: 1px 2px 3px #1c1d1f;
}

.g {
	background: #292a2d;
	box-shadow: 1px 2px 3px #1c1d1f;
	border-radius: 0.3rem;
	padding: 1rem;
	margin-bottom: 1rem !important;
}
.kp-blk {
	border: none !important;
}
.cbphWd {
	border-top: none !important;
}
cite,
.s .st,
.s .st em {
	color: #bdbdbd !important;
}
.i4vd5e,
.G1Rrjc {
	color: #9e9e9e !important;
}
.i4vd5e a,
.osl a,
.G1Rrjc a {
	color: #00796b !important;
}

#hdtb-msb-vis a {
	color: #616161 !important;
}
#hdtb-msb .hdtb-mitem.hdtb-msel {
	border-bottom: 3px solid #009688 !important;
	color: #009688 !important;
}
.kno-ecr-pt {
	color: unset !important;
}
.qmv19b {
	box-shadow: 1px 2px 3px #1c1d1f !important;
	border: none !important;
	background-color: #292a2d;
}
.EPLo7b {
	border-top-color: rgb(51, 52, 56) !important;
}
