@mixin shadow($color) {
    box-shadow: 1px 2px 3px $color !important;
}

@mixin box {
    background-color: $bgSecondary !important;
    border: none !important;
    border-radius: 0.3rem !important;
}

@mixin cardTitle {
    color: $textPrimary !important;
    text-decoration: none;
    font-size: 1em !important;
    padding: 0.5rem 0.8rem 1rem 0.8rem !important;
    margin: 0 !important;
    height: 56px !important;
    line-height: unset !important;
    &:hover {
        color: $green !important;
    }
}

@mixin userName {
    color: $textPrimary !important;
    text-transform: uppercase !important;
    letter-spacing: 4px !important;
}
// Scrollbar
@mixin scrollbar($bg: $grey500, $hbg: $green500, $width: 0.5rem) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $bg;
        &:hover {
            background-color: $hbg;
        }
    }
}