html[data-theme="dark"] {
    // Backgounds
    --bg-primary: #202124;
    --bg-secondary: #292a2d;

    // Texts
    --text-primary: #eeeeee;
    --text-secondary: #9e9e9e;
    --text-disabled: #3d4045;

    // Other
    --color-divider: #303338;
    --color-shadow: #1c1d1f;
    --color-accent: #009688;
}
