// Dark theme colrors
$bgPrimary: #202124;
$bgSecondary: #292a2d;
$textPrimary: #bdbdbd;
$textSecondary: #757575;

$shadow: #1c1d1f;
$green: #4caf50;

// Fiverr
$fGreen: #1dbf73;

html,
html[data-theme="light"] {

    // Backgounds
    --bg-primary: white;
    --bg-secondary: #f5f5f5;

    // Texts
    --text-primary: #212121;
    --text-secondary: #424242;
    --text-disabled: #3d4045;

    // Other
    --color-divider: #303338;
    --color-shadow: #1f2227;
    --color-accent: #8bc34a;
}

html[data-theme="dark"] {
    // Backgounds
    --bg-primary: #202124;
    --bg-secondary: #292a2d;

    // Texts
    --text-primary: #bdbdbd;
    --text-secondary: #757575;
    --text-disabled: #3d4045;

    // Other
    --color-divider: #303338;
    --color-shadow: #1c1d1f;
    --color-accent: #8bc34a;
}
