html[rk-data-theme="dark"] {
    // Backgounds
    --bg-primary: #202124;
    --bg-secondary: #292a2d;

    // Texts
    --text-primary: #bdbdbd;
    --text-secondary: #757575;
    --text-disabled: #3d4045;

    // Other
    --color-divider: #303338;
    --color-shadow: #1c1d1f;
    --color-accent: #8bc34a;
}
