/* Header */
#bluebarRoot ._2t-a {
  background-color: #292a2d !important;
}
#bluebarRoot,
#bluebarRoot ._2t-a {
  height: 60px !important;
}
._2s1x ._2s1y {
  border-bottom: none !important;
}

._5vb_,
._5vb_ #contentCol {
  background-color: #202020 !important;
  color: #bdbdbd !important;
}

/* Post Card */
._4-u8 {
  background-color: #292a2d !important;
}

._585- {
  background-color: #202123 !important;
  border: none !important;
  height: 28px !important;
  top: 6px !important;
  border-radius: 2rem !important;
}

._585- ._4w98 {
  background: #202123 !important;
}
._3ubp {
  background-color: #009688 !important;
}

._sg1 {
  background-color: unset !important;
}
._sg1 a {
  color: #e0f2f1 !important;
}
._5861 ._586f,
._5861 ._586i,
._5861 ._1frb {
  color: #bdbdbd !important;
}

._4sp8 {
  background-color: #202124 !important;
}

/* Conversation list item */
._1ht1 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* Coversation list active */
._1ht1._1ht2 ._6zkc {
  background-color: #202124 !important;
}

._7st9 {
  color: #e0e0e0 !important;
  font-size: 1.2em !important;
}

._1ht3 ._1ht6,
._1ht3 ._1htf {
  color: #44bec7 !important;
}

._2t-a._4pmj._2t-d {
  padding-top: 0.5rem;
}
._1ht7 {
  color: #424242 !important;
}

/* Coversation left messages */
._nd_ ._hh7 {
  background-color: teal !important;
  color: white !important;
}

._hh7 {
  background-color: #292a2d !important;
  box-shadow: 1px 2px 3px #1c1d1f;
  color: #e0e0e0 !important;
}
/* ._7sli {
  border-left: 1px solid #292a2d !important;
} */
._6ynl {
  box-shadow: none !important;
  border-bottom: 1px solid #292a2d !important;
}

/* Sidebar color */
._1enh._7q1s {
  background-color: #262729;
}

/* Coversation header friend name */
._17w2 {
  color: #e0e0e0 !important;
  font-size: 1.4em !important;
}
._2v6o,
._5eu7,
._6krh {
  color: #616161 !important;
}
