/* Header */
#bluebarRoot ._2t-a {
   background-color: #292a2d !important;
}
._2s1x ._2s1y {
   border-bottom: none !important;
}

._5vb_,
._5vb_ #contentCol {
   background-color: #202020 !important;
   color: #bdbdbd !important;
}

/* Post Card */
._4-u8 {
   background-color: #292a2d !important;
}

._585- {
   background-color: #202123 !important;
   border: none !important;
   height: 28px !important;
   top: 6px !important;
   border-radius: 2rem !important;
}
._585- ._4w98 {
   background: #202123 !important;
}
._3ubp {
   background-color: #009688 !important;
}
._sg1 {
   background-color: unset !important;
}
._sg1 a {
   color: #e0f2f1 !important;
}
._5861 ._586f,
._5861 ._586i,
._5861 ._1frb {
   color: #bdbdbd !important;
}
