article.db-new-content.js-db-cont {
    & > header {
        padding: 1rem;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .db-stats-standard {
        background-color: var(--bg-secondary);
        border: none;
        border-top: 1px solid var(--color-divider);
        a,
        & > span {
            border-color: var(--color-divider);
            color: var(--text-secondary);
        }
    }
    .revenues-actions {
        & > label {
            margin-right: 1rem;
        }
    }
}

.earnings-package .withdraw-buttons-list .withdraw-button,
.fake-dropdown .dropdown-toggle {
    background: var(--bg-secondary);
    border: none;
    i {
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
    &:hover {
        color: var(--text-primary);
    }
}

@media only screen and (min-width: 600px) {
    h1,
    .text-display-1 {
        font-size: 32px;
        color: var(--text-primary);
    }
}
